  <connectionStrings>
    <add name="SignUpDbEntities" 
         connectionString="metadata=res://*/SignUpModel.csdl|res://*/SignUpModel.ssdl|res://*/SignUpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=signup-db;initial catalog=SignUpDb;user id=sa;password=DockerCon!!!;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient"/>
  </connectionStrings>